$padding: 4em;
$button-color: #c9c9c9;

@mixin button {
  width: 3em;
  height: 3em;
  position: absolute;
  fill: $button-color;
  cursor: pointer;
  z-index: 1;
}

@mixin vertical-center {
  top: 0;
  bottom: 0;
  margin: auto;
}

.title {
  display: inline-block;
}

@mixin slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

.title:hover::after {
  content: attr(data-title);
  position: absolute;
  width: 7em;
  margin: auto;
  left: -2em;
  bottom: 3.5em;
  z-index: 1;
  color: #fff;
  font-family: Arial, sans-serif;
  @include slideUp;
}

.modal__cross {
  @include button;
  right: $padding;
}

.modal__info {
  @include button;
  position: absolute;
  left: -$padding;
}

.modal__download {
  @include button;
  right: $padding*2.2;
}

.modal__download a:visited {
  fill: $button-color;
}

.arrow__left {
  @include button;
  @include vertical-center;
  left: $padding;
}

.arrow__right {
  @include button;
  @include vertical-center;
  right: $padding;
}

.arrow__right:hover,
.arrow__left:hover,
.modal__cross:hover,
.modal__info:hover,
.modal__download a:hover {
  fill: #fcfcfc;
}


