@mixin center {
  position: fixed;
  top: 50%;
  left: 50%;
}

@mixin modal-image-content {
  height: 80vh;
  object-fit: contain;
}

@mixin explanation{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid #000000;
}

$text-shadow: #0c00ff;
$box:.5px;
$translateY: -50%;

.more__info{
  cursor: pointer;
  color: azure;
  text-shadow: $text-shadow $box $box 0,
  $text-shadow 0-$box 0-$box 0,
  $text-shadow 0-$box $box 0,
  $text-shadow $box 0-$box 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

.background-modal-image {
  transform: translate(-50%, -50%);
  @include center;
  height: 100.1%;
  width: 100.1%;
  background: rgba(1, 1, 1, 0.8);
}

.background-modal-animation{
  opacity: 0;
  transition: .5s;
  animation: show .4s 1;
  animation-fill-mode: forwards;
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}


@keyframes slideRight {
  0% {
    transform: translate(-150%, $translateY);
  }
  100% {
    transform: translate(-50%, $translateY);
  }
}

.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translate(50%, $translateY);
  }
  100% {
    transform: translate(-50%, $translateY);
  }
}

.azure {
  color: azure;
}

.modal-content {
  width: 100%;
  height: 100%;
  padding: 5vh 0 ;
  background: rgba(0, 0, 0, 0.8);
  @include center;
  text-align: center;
  border-radius: 3px;
  top: 0;
  left: 0;
  color: azure;
}

.modal-image-content img {
  @include modal-image-content;
  max-width: 80vw;
}

.modal-image-content iframe {
  @include modal-image-content;
  width: 70vw;
}

.image-explanation {
  display: inline-block;
  position: relative;
}

.pullUp {
  @include explanation;
  bottom: 0;

  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

.pullDown{
  @include explanation;
  top: 0;

  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
