@import "../../Style/Color";

@mixin height {
  height: 280px;
}

.App-content {
  grid-area: content;
  @include box-shadow;
  padding: 9px 10px 11px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include background;
}

.info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Content-img {
  height: 100%;
  width: 100%;
  display: inline;
}

.Content-img img {
  float: left;
  margin-right: 10px;
  height: 258px;
  width: 258px;
  object-fit: cover;
  @include border;
  cursor: pointer;
  transition: 0.2s  all;
  animation: showInfo 0.2s  1;
}

.Content-img iframe {
  float: left;
  margin-right: 10px;
  height: 258px;
  object-fit: cover;
  @include border;
}

.Content-img img:hover {
  width: 100%;
  transition: 0.3s all;
  margin-right: 0;
}

.Explanation {
  height: 190px;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.info{
  animation: showInfo 0.2s  1;
  transition: 0.2s ;
  animation-fill-mode:backwards;
}

@keyframes showInfo {
  0% {
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
