$size: 15vw;
$max-width: 80vw;

.App-all-content {
  max-width: $max-width;
  margin: auto;
  grid-area: all;
  display: grid;
  column-gap: $size+5;
  grid-template-columns: $size+1 $size+1;
  text-align: center;
  align-items: center;
}

.App-all-content img, .App-all-content iframe {
  height: $size;
  width: $size;
  margin-bottom: .5vw;
  object-fit: cover;
}
