.App-wrapper {
    margin: 2% auto 5% auto;
    width: 1280px;
    display: grid;
    grid-template-areas: "calendar content" "all all";
    grid-template-rows: 1fr auto;
    grid-template-columns: 2fr 10fr;
    grid-gap: 50px 10px;
    position: relative;
}

.App-calendar {
    grid-area: calendar;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    padding: 35px;
    background: white;
}

.App-content {
    grid-area: content;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    padding: 35px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
}

.App-content span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.App-all-content {
    max-width: 960px;
    margin: auto;
    grid-area: all;
    display: grid;
    column-gap: 300px;
    grid-template-columns: 320px 320px;
    text-align: center;
    align-items: center;
}

.App-all-content img {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    object-fit: cover;
}

.Content-img {
    height: 100%;
    width: 100%;
    display: inline;
}

.Content-img img {
    float: left;
    margin-right: 10px;
    height: 100%;
    width: 308px;
    object-fit: cover;
}

.Content-img img:hover {
    width: 760px;
    transition: 0.3s all;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.big-image {
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
}

.background-big-image {
    transform: translate(-50%, -50%);
    z-index: 29;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background: rgba(1, 1, 1, 0.6);
    opacity: 0;
    transition: .5s;
    animation: show .6s 1;
    animation-fill-mode: forwards;
}

.Explanation{
    height: 78%;
    text-overflow: ellipsis;
    overflow-y: auto;
}

.big-image img {
    max-height: 600px;
    object-fit: contain;
}

.modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #fcfcfc;
    cursor: pointer;
}

.preloader {
    grid-area: all;
    text-align: center;
    height: 293px;
}


.preloader img {
    height: 293px;
}

.item {
    text-decoration: none;
    display: absolute;
    display: block;
    height: 100%;
    background: #fff;
    text-align: left;
    padding: 10px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.item:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.item:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.item:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}
