.title {
  display: inline-block;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.title:hover::after {
  content: attr(data-title);
  position: absolute;
  width: 7em;
  margin: auto;
  left: -2em;
  bottom: 3.5em;
  z-index: 1;
  color: #fff;
  font-family: Arial, sans-serif;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

.modal__cross {
  width: 3em;
  height: 3em;
  position: absolute;
  fill: #c9c9c9;
  cursor: pointer;
  z-index: 1;
  right: 4em;
}
@media screen and (max-width: 1100px) {
  .modal__cross {
    right: 1em;
  }
}

.modal__download {
  width: 3em;
  height: 3em;
  position: absolute;
  fill: #c9c9c9;
  cursor: pointer;
  z-index: 1;
  right: 8.8em;
}
@media screen and (max-width: 1100px) {
  .modal__download {
    right: 5.8em;
  }
}
@media screen and (max-width: 720px) {
  .modal__download {
    right: 1em;
    top: 5.8em;
  }
}

.modal__download a:visited {
  fill: #c9c9c9;
}

.arrow__left {
  width: 3em;
  height: 3em;
  position: absolute;
  fill: #c9c9c9;
  cursor: pointer;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 4em;
}
@media screen and (max-width: 1100px) {
  .arrow__left {
    left: 1em;
  }
}
@media screen and (max-width: 720px) {
  .arrow__left {
    display: none;
  }
}

.arrow__right {
  width: 3em;
  height: 3em;
  position: absolute;
  fill: #c9c9c9;
  cursor: pointer;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4em;
}
@media screen and (max-width: 1100px) {
  .arrow__right {
    right: 1em;
  }
}
@media screen and (max-width: 720px) {
  .arrow__right {
    display: none;
  }
}

.arrow__right:hover,
.arrow__left:hover,
.modal__cross:hover,
.modal__info:hover,
.modal__download a:hover {
  fill: #fcfcfc;
}

.App-content {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: content;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border: 1px solid #a0a096;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
}
@media screen and (max-width: 900px) {
  .App-content {
    overflow-y: auto;
    margin-bottom: 10vh;
  }
}

.info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Content-img {
  height: 100%;
  display: inline;
}
@media screen and (max-width: 900px) {
  .Content-img {
    height: 270px;
    float: left;
  }
}

.Content-img img {
  float: left;
  margin-right: 10px;
  height: 256px;
  width: 256px;
  object-fit: cover;
  border: solid #a0a096;
  cursor: pointer;
  transition: 0.2s all;
  animation: showInfo 0.2s 1;
}

.Content-img iframe {
  float: left;
  margin-right: 10px;
  height: 256px;
  object-fit: cover;
  border: solid #a0a096;
}

.Content-img img:hover {
  width: 100%;
  transition: 0.3s all;
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .Explanation {
    text-overflow: ellipsis;
  }
}
@media screen and (min-width: 900px) {
  .Explanation {
    height: 190px;
    text-overflow: ellipsis;
    overflow-y: auto;
  }
}

.info {
  animation: showInfo 0.2s 1;
  transition: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes showInfo {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App-all-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  max-width: 80vw;
  margin: auto;
  grid-area: all;
  display: grid;
  column-gap: 20vw;
  grid-template-columns: 16vw 16vw;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .App-all-content {
    grid-template-columns: 20.5vw 20.5vw;
  }
}
@media screen and (max-width: 900px) {
  .App-all-content {
    width: 30vw;
    grid-template-columns: 31vw;
    justify-items: center;
  }
}

.App-all-content img, .App-all-content iframe {
  height: 15vw;
  width: 15vw;
  margin-bottom: 0.5vw;
  object-fit: cover;
}
@media screen and (max-width: 1100px) {
  .App-all-content img, .App-all-content iframe {
    height: 19.5vw;
    width: 19.5vw;
  }
}
@media screen and (max-width: 900px) {
  .App-all-content img, .App-all-content iframe {
    height: 30vw;
    width: 30vw;
  }
}

.item {
  text-decoration: none;
  display: absolute;
  display: block;
  height: 100%;
  background: #fff;
  text-align: left;
  padding: 0.5vw;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.item:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.item:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.more__info {
  cursor: pointer;
  color: #e7e7ff;
  text-shadow: #35577a 1px 1px 0, #35577a -1px -1px 0, #35577a -1px 1px 0, #35577a 1px -1px 0;
}

.more__info:hover {
  color: #0087ff;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
.background-modal-image {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100.1%;
  width: 100.1%;
  background: rgba(1, 1, 1, 0.8);
}

.background-modal-animation {
  opacity: 0;
  transition: 0.5s;
  animation: show 0.4s 1;
  animation-fill-mode: forwards;
}

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translate(-150%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translate(50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.modal-content {
  width: 100%;
  height: 100%;
  padding: 5vh 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  top: 0;
  left: 0;
  color: azure;
}

.modal-image-content img {
  height: 80vh;
  object-fit: contain;
  max-width: 80vw;
}

.modal-image-content iframe {
  height: 80vh;
  object-fit: contain;
  width: 70vw;
}

.image-explanation {
  display: inline-block;
  position: relative;
}

.pullUp {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid #000000;
  bottom: 0;
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

.pullDown {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid #000000;
  top: 0;
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #0087ff;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #0087ff;
}

::-webkit-scrollbar-track {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}

body {
  background: #ccc;
}

.App-wrapper {
  margin: 2vh auto 5vh auto;
  width: 80vw;
  display: grid;
  grid-template-areas: "calendar content" "all all";
  grid-template-rows: 1fr auto;
  grid-template-columns: 2fr 10fr;
  grid-gap: 50px 10px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .App-wrapper {
    width: 90vw;
  }
}
@media screen and (max-width: 900px) {
  .App-wrapper {
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr auto;
    justify-items: center;
    grid-template-areas: "calendar" "content" "all" "all";
    grid-gap: 10px;
    align-items: center;
  }
  .App-content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .App-all-content {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
  padding: 1.5em 0.5em;
}

.react-calendar__tile {
  padding: 0.65em 0.5em;
}

.react-calendar__navigation {
  margin-bottom: 0.1em;
}

.react-calendar {
  height: 280px;
  width: 350px;
}

.App-calendar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: calendar;
}

.preloader {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: all;
  text-align: center;
  height: 293px;
}

@media screen and (max-width: 900px) {
  .App-calendar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .preloader {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.preloader img {
  height: 293px;
}